# Python
__pycache__/
*.py[cod]
*.egg-info/
.venv/
venv/

# Jupyter
.ipynb_checkpoints/

# IDE / OS
.idea/
.vscode/
.DS_Store

# Локальные служебные файлы, которые не нужны в репозитории
*.log
_*.txt
_*.png
_*.pdf
